/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

@import "abstract/functions";
@import "abstract/variables";
@import "abstract/mixins";


@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilites";

@import "component/bg-video";
@import "component/button";
@import "component/card";
@import "component/composition";
@import "component/feature-box";
@import "component/story";



@import "layout/grid";
@import "layout/header";



@import "pages/home";
