.button {
  &,
  &:link,
  &:visited{
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      border-radius: 10rem;
      display: inline-block;
      transition: all .2s;
      position: relative;
      font-size: $default-font-size;
        border: none;
      
  }

  &:hover{
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black,.2);

      &::after{
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }

  }

  &:active{
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black,.2);

  }

  &::after{
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .2s;
  }


}

.btn-white{
    background-color: $color-white;
    color: #777;

    &::after{
        background-color: white;
    }
}

.btn-green{
    background-color: $color-primary;
    color: $color-white;

    &::after{
        background-color: $color-primary;
    }
}
.btn-text {
  text-decoration: none;

  &:link,
  &:visited{
    color: $color-primary;
    display: inline-block;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition: all 0.2s;
  }

  &:hover{
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black,.15);
    transform: translateY(0.2rem);
  }

  &:active{
    box-shadow: 0 5rem 1rem rgba($color-black,.15);
    transform: translateY(0);
  }
}

.btn-animated{
    animation: moveInBottom 0.5s ease-out;
    animation-fill-mode: backwards;
}
